<!-- IMPORTANDO MODEL -->
@model HomeModel
<!-- TITULO DA JANELA -->
@{
    ViewData["Title"] = "Home Page";
}
<!-- LINK PARA O CSS -->
<link rel="stylesheet" href="/css/home.css">
<link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">

<!-- TITULO -->
<div class="text-center">
    <h1 class="display-4">Bem-vindo ao <span style="font-family: 'Shrikhand', cursive;">LearnFlow</span></h1>
    <h2 class="text-center">Mapas mais curtidos: </h2>
<br>
<!-- AREA DOS MAPAS MAIS CURTIDOS-->
    <div class="containerLike">
        <div class="mapa1">
            <img src="/assets/icons/portugues.jpg" alt="" style="height:300px; width:300px; border-radius: 40px;">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Mapa">Lingua Portuguesa</a>
            <!-- LINK PARA MAPA 1 -->
        </div>
        <div class="mapa2">
            <img src="/assets/icons/calculo.jpg" alt=""style="height:300px; width:300px; border-radius: 40px;">
            <p>Introdução a cálculo</p>
        </div>
        <div class="mapa3">
            <img src="/assets/icons/fisica.webp" alt="" style="height:300px; width:300px; border-radius: 40px;">
            <p>Física quântica é fácil</p>
        </div>
    </div>
        <hr>
        
    <h2 class="text-center">Todos os mapas: </h2>
<br>

<!-- AREA DE TODOS OS MAPAS-->
    <div class="containerTodos">
        <div class="mapa1">
            <img src="/assets/icons/jake.png" alt="" style="height:300px; width:300px; border-radius: 40px;">
            <p>Lingua Portuguesa</p>
        </div>
        <div class="mapa2">
            <img src="/assets/icons/jake.png" alt=""style="height:300px; width:300px; border-radius: 40px;">
            <p>Introdução a cálculo</p>
        </div>
        <div class="mapa3">
            <img src="/assets/icons/jake.png" alt="" style="height:300px; width:300px; border-radius: 40px;">
            <p>Física quântica é fácil</p>
        
    </div>
</div>
