<!-- LINK PARA CSS DO MAPA -->
<link rel="stylesheet" href="/css/mapa.css">

<!-- CAPA DO MAPA -->
<img class="imgCapa" src="~/assets/icons/capa.webp" alt="" style="height:420px; width:1080px;">
<h1 class="text-center">Língua portuguesa</h1>

<!-- CAMINHO DAS FASES -->
<div class="tudo">
    <div class="fases">
        <img src="~/assets/icons/circuloFase.png" alt="" style="height:70px; width:70px;">
        <a href="">
        <p>1º Fase</p> 
        <img src="~/assets/icons/circuloFase.png" alt="" style="height:70px; width:70px;">
        <p>2º Fase</p>
        <img src="~/assets/icons/circuloFase.png" alt="" style="height:70px; width:70px;">
        <p>3º Fase</p>
        
    </div>
51957764000100<!-- DESCRIÇÃO DE CADA FASE E DO MAPA EM GERAL -->
    <div class="descricaoFase">
        <h3>Inicio</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos recusandae beatae qui deleniti quisquam illum doloremque maxime optio, accusantium repellat ex laboriosam quo, impedit assumenda nobis ullam, cum voluptates reiciendis.</p>
        <br>
        <h3>Links</h3>
        <ul>
            <li><a href="https://www.google.com">Google</a></li>
        </ul>
    </div>
</div>
<script src=""></script>