@{
    ViewData["Title"] = "Perfil";
} 
<link rel="stylesheet" href="/css/Perfil.css">
<div class="pera">
    <div class="foto">
    </div>
</div>
<br>
<br>
<h1 class="h1">Naruto</h1>
<h2 class="h1">Descrição</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque officia ex quo laboriosam obcaecati expedita ducimus sed corrupti omnis excepturi a, sequi aliquid dolor perspiciatis provident velit ipsum? Dolore, qui!</p>
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta a sit, voluptatibus laudantium minima ullam iure asperiores debitis inventore, optio eos aut voluptate nesciunt veritatis cupiditate velit! Eaque sequi nostrum dignissimos numquam delectus nihil odio, ipsam ducimus voluptate aliquam ea, suscipit repellat magnam est. Optio aperiam fugiat ratione, molestias, vel quam at esse sequi dolore, maxime repellat tempore veritatis animi debitis tempora soluta! Eligendi magnam minus reiciendis fugit obcaecati, autem minima, possimus quibusdam architecto numquam perspiciatis, amet aliquam dolorem? Ducimus repellat est iusto molestiae numquam autem impedit itaque, voluptas deserunt. Qui atque doloribus deleniti! Consectetur numquam voluptatem repudiandae quisquam itaque. Deleniti eaque ratione, ipsa laboriosam esse commodi quos nemo iste necessitatibus beatae dolor porro inventore qui dolores magnam harum sit dicta cupiditate est cum! Dolor nihil quo vel hic pariatur distinctio voluptas doloribus dolores veniam! Delectus tenetur quos, totam ipsa autem sed ipsam ullam provident nulla neque veniam, labore dicta.
<br>
<h2 class="h1">Seus Mapas</h1>
<div class="pai">
    <div class="imagem">
    </div>
    <div class="texto">
        <h5 class="h1">Seus Mapas</h5><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perferendis iure omnis voluptatem officiis libero accusantium voluptas maiores, veritatis quos dignissimos dolor deserunt est at praesentium explicabo dicta ad fuga!</p>
    </div>
</div>