@{
    ViewData["Title"] = "Sobre Nós";
}
<link rel="stylesheet" href="~/css/sobreNos.css">

<div class="sobre-nos-container">
    <h1 class="titulo-sobre">Sobre o Projeto</h1>
    <p class="descricao-sobre">
        O <strong>LearnFlow</strong> é uma plataforma interativa de aprendizado desenvolvida com o objetivo de organizar o conhecimento por meio de mapas visuais de estudo. 
        Nosso foco está em facilitar o progresso do usuário através de fases temáticas, permitindo uma jornada personalizada, visual e motivadora.
    </p>

    <p class="descricao-sobre">
        Criado por estudantes da FATEC, o projeto foi idealizado para ser simples, funcional e acessível. Acreditamos que todos têm o direito de aprender com clareza, 
        propósito e um caminho bem definido. Com o LearnFlow, qualquer pessoa pode criar, editar e navegar por seus próprios roteiros de estudo.
    </p>

    <hr>

    <h2 class="titulo-sobre">Integrantes</h2>
    <ul class="lista-integrantes">
        <li>João Pedro</li>
        <li>Henrique Tashiro</li>
        <li>Ryan Raniery</li>
        <li>Matheus Santos</li>
    </ul>
</div>
